<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% for(var i=0; i < data.length; i++) { %>
         <div>
           <span><%= data[i].Id %></span>
           <span><%= data[i].Name %></span>
         </div>
      <% } %>
    </div>
  </body>
</html>
