<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% data.foreach(function(r) { %>
         <div>
           <span><%= r.Id %></span>
           <span><%= r.Name %></span>
         </div>
      <% }) %>
        </div>
  </body>
</html>
