<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% data.forEach(function(r) { %>
          <li><%= r.[].name %> (<%= r.[].id %>)</li>
      <% }); %>
  </ul>
  </body>
</html>
