<!DOCTYPE html>
<html>
  <head>
    <title>Template COntent Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Response Content</h1>
    <p><%= res_content %></p>
  </body>
</html>
